---
---

@import "{{ site.theme }}";

#banner {
    background-color: #042546;
    border: 1px solid #042546;
}

header {
    background-color: #0099CC !important;
}

.wrapper {
    background-color: #C2B6C0;
}

body {
    color: black;
}